<div class="row">
 	<h5 class="printOnly text-center" id="playerName"></h5>
 	<div>
 		<% 9.times do |n| %>
		 	<div class='col-md-4'>
				<table class="table text-center playerCard" id="card<%= n  %>">
			 	</table>
		 	</div>
	 	<% end %>
	</div>
</div>