<footer class="col-md-12">
  <small>
    <a href="#">Bingo on Rails</a>
    by <a href="http://github.com/stephenweigel/">Stephen Weigel</a>
  </small>
  <nav>
    <ul>
      <% unless logged_in? %>
        <li><%= link_to "Sign up",  signup_path %></li>
      <% end %>
      <li><%= link_to "Help",   help_path %></li>
      <li><%= link_to "About",  about_path %></li>
    </ul>
  </nav>
</footer>